{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>E_transport</h1>
    <p class="lead">.</p>
   <!-- <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>-->
</div>
<div class="row">
<h2>{{ title }}</h2>
</div>

<div class="row">
    <p>Oferujemy Państwu usługę transportu towarów w ruchu krajowym i międzynarodowym głównie na terenie
        krajów Unii Europejskiej i Szwajcarii. Wykonujemy tam także przewozy kabotażowe – załadunek
        i rozładunek w tym samym kraju.</p>
    <p>Wszystkie przewozy wykonywane są nowoczesnymi najwyżej kilkuletnimi pojazdami marki Mercedes
        Actros, Volvo, Renault spełniającymi normy EURO 6, EEV oraz EURO 5. Ciągniki wyposażone są
        w zaawansowany system GPS (w tym opcja monitoringu temperatury na naczepach typu chłodnia!)
        z możliwością dostępu dla klienta. System jest w pełni zintegrowany z programem spedycyjnym,
        co pozwala na ciągłe monitorowanie statusu wykonania zlecenia i efektywne działanie w przypadku
        wystąpienia sytuacji awaryjnych.</p>
    <p>Posiadamy ubezpieczenie OC przewoźnika na sumę 500.000 USD (zagranica) oraz 200.000 USD
        (kraj) rozszerzone o opcję podwyższonego ryzyka z włączeniem rabunku i kradzieży zuchwałej.
        Dodatkowo dysponujemy ubezpieczeniem kabotażowym. Na zlecenie klienta oferujemy objęcie
        przewożonych przesyłek ubezpieczeniem Cargo.</p>
</div>

{% endblock %}