{% extends "layout.html" %}

{% block head %}
    <title>Zmiana hasla</title>
{% endblock %}

{% block content %}
    <div id="content" class="colM">

        <h1>Zmiana hasła</h1>
        <div id="content-main">
            <form method="post"><input type="hidden" name="csrfmiddlewaretoken"
                                       value="ojIxoloGCXB1dO0Bt6mBlTryS70FM6aX8Y6yHrJJDJJXA9n4LkE0AEq7PNGqiOYU">
                <div>
                    <p>Podaj swoje stare hasło, ze względów bezpieczeństwa, a później wpisz dwukrotnie Twoje nowe hasło,
                        abyśmy mogli zweryfikować, że zostało wpisane poprawnie.</p>
                    <div class="container">
                        <div class="row">
                            <div class="col-4">
                                <label for="id_old_password">Stare hasło:   </label> <input type="password"
                                                                                         name="old_password"
                                                                                         autofocus="" required=""
                                                                                         id="id_old_password">
                                <label for="id_new_password1">Nowe hasło:   </label> <input type="password"
                                                                                         name="new_password1"
                                                                                         required=""
                                                                                         id="id_new_password1">
                                <label for="id_new_password2">Nowe hasło (powtórz): </label> <input type="password"
                                                                                                   name="new_password2"
                                                                                                   required=""
                                                                                                   id="id_new_password2">
                            </div>
                            <div class="col-4">
                                <ul>
                                    <li>Twoje hasło nie może być zbyt podobne do twoich innych danych osobistych.
                                    </li>

                                    <li>Twoje hasło musi zawierać co najmniej 8 znaków.</li>
                                    <li>Twoje hasło nie może być powszechnie używanym hasłem.</li>
                                    <li>Twoje hasło nie może składać się tylko z cyfr.</li>
                                </ul>
                            </div>


                            </divrow>
                        </div>

                        <div class="submit-row">
                            <input type="submit" value="Zmień hasło" class="default">
                        </div>
                    </div>
            </form>
        </div>

        <br class="clear">
    </div>
{% endblock %}
