<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form role="form" action="{% url 'Account_app:change-password' %}" method="POST"><input type="hidden"
                                                                                                name="csrfmiddlewaretoken"
                                                                                                value="ojIxoloGCXB1dO0Bt6mBlTryS70FM6aX8Y6yHrJJDJJXA9n4LkE0AEq7PNGqiOYU">
            <div class="modal-header">
                <h3>Zmiana hasła</h3>
            </div>
            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>Podaj swoje stare hasło, ze względów bezpieczeństwa, a później wpisz dwukrotnie Twoje
                            nowe hasło,
                            abyśmy mogli zweryfikować, że zostało wpisane poprawnie.</p>
                        <div class="container">
                            <div class="row">
                                <div class="col-4">
                                    <label for="id_old_password">Stare hasło: </label> <input type="password"
                                                                                              name="old_password"
                                                                                              autofocus=""
                                                                                              required=""
                                                                                              id="id_old_password">
                                    <label for="id_new_password1">Nowe hasło: </label> <input type="password"
                                                                                              name="new_password1"
                                                                                              required=""
                                                                                              id="id_new_password1">
                                    <label for="id_new_password2">Nowe hasło (powtórz): </label> <input
                                        type="password"
                                        name="new_password2"
                                        required=""
                                        id="id_new_password2">
                                </div>
                                <div class="col-4">
                                    <ul>
                                        <li>Twoje hasło nie może być zbyt podobne do twoich innych danych
                                            osobistych.
                                        </li>
                                        <li>Twoje hasło musi zawierać co najmniej 8 znaków.</li>
                                        <li>Twoje hasło nie może być powszechnie używanym hasłem.</li>
                                        <li>Twoje hasło nie może składać się tylko z cyfr.</li>
                                    </ul>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="col-lg-12 text-right">
                    <input type="submit" class="btn btn-primary" name="submit" value="Zapisz">
                    <button type="button" class="btn btn-default" onclick="return ukryj_modal()">
                        Anuluj
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
