{% extends "layout.html" %}

{% block head %}
    <html lang="pl">
    <head>
    <title>Wprowadź nowe haslo</title>
{% endblock %}

{% block content %}



    <h1>Wprowadź nowe haslo</h1>




    <p>Podaj dwukrotnie nowe hasło, by można było zweryfikować, czy zostało wpisane poprawnie.</p>

    <form method="post"><input type="hidden" name="csrfmiddlewaretoken"
                               value="LUkGyL7zOceUyNzEyfI3HM41YA75tCzpvzIHRRsCPYmQV8W7Qt0sWx3AVgNQZknm">
        <fieldset class="module aligned">
            <div class="form-row field-password1">

                <label for="id_new_password1">Nowe hasło:</label>
                <input type="password" name="new_password1" required="" id="id_new_password1">
            </div>
            <div class="form-row field-password2">

                <label for="id_new_password2">Potwierdź hasło:</label>
                <input type="password" name="new_password2" required="" id="id_new_password2">
            </div>
            <input type="submit" value="Zmień hasło">
        </fieldset>
    </form>





    <br class="clear">

{% endblock %}
