{% extends "layout.html" %}

{% block head %}
    <html lang="pl">
    <head>
    <title>Potwierdzenie zresetowania hasła zostało wysłane</title>
{% endblock %}

{% block content %}

    <h1>Potwierdzenie zresetowania hasła zostało wysłane</h1>


    <p>Instrukcja pozwalająca ustawić nowe hasło dla podanego adresu email została wysłana. Niebawem powinna się pojawić
        na Twoim koncie pocztowym.</p>

    <p>W przypadku nieotrzymania wiadomości email: upewnij się czy adres wprowadzony jest zgodny z tym podanym podczas
        rejestracji i sprawdź zawartość folderu SPAM na swoim koncie.</p>


    <br class="clear">

{% endblock %}
