{% extends "layout.html" %}

{% block head %}
    <html lang="pl">
    <head>
    <title>Zresetuj hasło</title>
{% endblock %}

{% block content %}



    <h1>Zresetuj hasło</h1>


    <p>Nie pamiętasz swojego hasła? Wprowadź w poniższym polu swój adres email, a wyślemy Ci instrukcję opisującą sposób
        ustawienia nowego hasła.</p>

    <form method="post"><input type="hidden" name="csrfmiddlewaretoken"
                               value="eKZxGVVkC3zPPJkN3bqZb6eY8OYoFdVWYpnyZ1gnDPHLc4HglpIoqRdx5uE9bVJT">
        <fieldset class="module aligned">
            <div class="form-row field-email">

                <label for="id_email">Adres email:</label>
                <input type="email" name="email" maxlength="254" required="" id="id_email">
            </div>
            <input type="submit" value="Zresetuj moje hasło">
        </fieldset>
    </form>



    <br class="clear">

{% endblock %}

