<div class="modal-dialog modal-lg">
    <div class="modal-content">
        {% if zlecenie %}
            <form role="form" action="{% url 'Zlecenie_app:edytuj_zlecenie' zlecenie.pk %}" method="POST">
            <div class="modal-header">
                <h3>Edytuj zlecenie</h3>
            </div>
        {% endif %}
        <div class="modal-body">
            {% csrf_token %}
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ form.as_p }}
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="col-lg-12 text-right">
                <input type="submit" class="btn btn-primary" name="submit" value="Zapisz">
                <button type="button" class="btn btn-default" onclick="return ukryj_modal()">
                    Anuluj
                </button>
            </div>
        </div>
        </form>
    </div>
</div>

