{% extends "layout.html" %}

{% block content %}

    <div class="container">
        <div class="row">

            <h1>Lista zlecen</h1>

            <hr>
            <div class="table-responsive">
                <table class="table table-responsive-sm">
                    <thead>
                    <tr>
                        <th>Numer zlecenia</th>
                        <th>Data zlozenia</th>
                        <th>Status</th>
                        <th>Warotosc</th>
                        <th>e-Faktura</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for zlecenie in lista_zlecen %}
                        <tr>
                            <td>
                                <a href="{% url 'Zlecenie_app:szczegoly_zamowienia' zlecenie.pk %}">{{ zlecenie.pk }}</a>
                            </td>
                            <td>{{ zlecenie.data_zlozenia }}</td>
                            <td>{{ zlecenie.get_status_zlecenia_display }}</td>
                            <td>{{ zlecenie.wartosc }}</td>
                            <td>{{ zlecenie.faktura }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <button type="button" class="btn btn-warning btn-sm"
                    onclick="return abrir_modal('{% url 'Zlecenie_app:edytuj_zlecenie' zlecenie.pk %}')"
                    data-toggle="modal" data-target="#Modal">
                Edytuj
            </button>
        </div>
    </div>
{% endblock %}
