{% if user.is_authenticated %}
    <form id="logoutForm" action="{% url 'Account_app:logout' %}" method="post" class="navbar-right">
    {% csrf_token %}

    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.username }} <span
                            class="caret"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'Account_app:profile' %}">Profil</a>
                        <a class="dropdown-item" href="{% url 'Zlecenie_app:lista_zlecen' %}">Twoje zlecenia</a>
                        <a class="dropdown-item" href="{% url 'Adres_app:lista_adresow' %}">Książka Adresowa</a>
                        <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a>
                      <!--  <a class="dropdown-item" href="#">Something else here</a>-->
                    </div>
                </li>
    </ul>

</form>

{% else %}

<ul class="nav navbar-nav navbar-right">
    <li><a href="{% url 'Account_app:login' %}">Logowanie</a></li>
    <li><a href="{% url 'Account_app:singup' %}">Rejestracja</a></li>
</ul>

{% endif %}
