<div class="modal-dialog modal-lg">
    <div class="modal-content">
        {% if adres %}
            <form role="form" action="{% url 'Adres_app:edytuj_adres' adres.pk %}" method="post">
            <div class="modal-header">
                <h3>Edytuj adres</h3>
            </div>
        {% else %}
            <form role="form" action="{% url 'Adres_app:nowy_adres' %}" method="post">
            <div class="modal-header">
                <h3>Nowy adres</h3>
            </div>
        {% endif %}

        <div class="modal-body">
            {% csrf_token %}
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ form.as_p }}
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="col-lg-12 text-right">
                <input type="submit" class="btn btn-primary" name="submit" value="Zapisz">
                <button type="button" class="btn btn-default" onclick="return nowy_adres()">
                    Anuluj
                </button>
            </div>
        </div>
        </form>
    </div>
</div>