{% extends "layout.html" %}

{% block content %}

<div class="container">
    <div class="row">

        <h1>Twoje zlecenia</h1>

        <hr>

        <div class="table-responsive">
            <table class="table table-responsive-sm">
                <thead>
                <tr>
                    <th>Numer zlecenia</th>
                    <th>Data zlozenia</th>
                    <th>Status</th>
                    <th>Warotosc</th>
                    <th>e-Faktura</th>
                </tr>
                </thead>
                <tbody>
                {% for zlecenie in lista_zlecen %}
                <tr>
                    <td><a href="{% url 'order:order_detail' zlecenie.id%}">{{ zlecenie.pk }}</a></td>
                    <td>{{ zlecenie.data_zlozenia }}</td>
                    <td>{{ zlecenie.get_status_zlecenia_display }}</td>
                    <td>{{ zlecenie.wartosc }}</td>
                    <td>{{ zlecenie.faktura }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        </main>
    </div>
</div>

{% endblock %}
